.container {
  font-size: small;
  background-color: #f2f2f2;
  overflow: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.routeName {
  font-size: small;
  color: darkslategray;
  text-decoration: underline;
}

.routeName:hover {
  cursor: pointer;
  color: black;
}